* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body, html {
    height: 100%;
}

main {
    background-image: url(../images/background.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.btn-pagination {
    padding: 1px;
    background: blue;
    color: white;
    cursor: pointer;
}

.btn-pagination:disabled {
    background: skyblue;
    cursor: default;
}

.btn-table-header {
    border: none;
    background: none;
    color: blue;
    font-weight : bold;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
}

.btn-table-delete {
    background: red;
    color: white;
    padding: 1px;
    cursor: pointer;
}

.tbl-grid {
  border: 1px solid black;
  margin: 15px 0px 0px 0px;
}

.tbl-grid th {
    border: 0.5px solid black;
    text-align: left;
    padding: 7px;
    color: blue;
    background-color: skyblue;
    font-size: 14px;
}

.tbl-grid td {
    border: 0.5px solid black;
    padding: 5px;
    text-align: left;
}

.tbl-list, .tbl-list-status, .tbl-grid-msg {
    margin: 15px 0px 0px 0px;
}

.tbl-list th {
    text-align: left;
    color: blue;
}

.tbl-list h3 {
    text-align: left;
    color: blue;
	margin: 15px 0px 15px 0px;
}

.tbl-list-status, .tbl-data-pages, .tbl-grid-msg {
    padding: 10px 0px 10px 0px;
    font-size: 13px;
    color: blue;
}

#header {
    background-color: RoyalBlue;
}

#sub-header {
    background-color: blue;
    padding: 0px 0px 0px 10px;
}

#sub-header input {
    padding: 5px 0px 5px 0px;
    background-color: blue;
    color: cyan;
    border: none
}

#sub-header input:hover {
    background-color: cyan;
    color: blue;
}

#header img {
    padding: 10px;
}

#header h1 {
    padding: 10px;
    color: snow;
}

#header h4 {
    padding: 10px;
    color:aqua;
    font-style: italic;
}

#form, #menu {
    padding: 15px;
}

#form h3, #menu h3 {
    margin: 15px 0px 15px 0px;
}

#menu h3 {
    text-align: center;
}

#page-no-field {
    width: 50px
}

.tbl-buttons {
    table-layout: fixed;
    border-collapse: collapse;
 }

 .tbl-buttons button {
    width: 100%;
 }

.form-confirm-button {
     float:left;
}

.link-disabled {
     color: gray;
}

#msg-error {
    background-color: pink;
    color: red;
    padding: 0px 0px 0px 10px;
}

#msg-succeed {
    background-color:lightgreen;
    color: green;
    padding: 0px 0px 0px 10px;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  list-style-type: numeric;
}

#tasksList {
  border: 1px solid black;
  border-collapse: collapse;
}

#tasksList td, #tasksList th {
  border: 2px solid black;
  text-align: left;
  padding: 6px;
}