<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="ATM-app project">
    <meta name="author" content="DmMak">
    <title>ATM service simulation</title>
</head>
<body>

<h3> Add Account</h3>

<table>
    <tr>
        <td>User Name:</td>
        <td>User ID:</td>
    </tr>

    <tr>
        <form action="/addAccountToList" th:object="${request}" method="post">
            <td><input type="text" th:field="${request.userName}"/></td>
            <td><input type="text" th:field="${request.userId}"/></td>
            <td>
                <input type="submit" value="Add Account"/>
                <input type="reset" value="Clear"/>
            </td>
        </form>
    </tr>
</table>

<td th:if="${errors != null}">
<tr th:each="error : ${errors}">
    <td th:text = "${error.field}"/>
    <td th:text = "${error.message}"/>
    </tr>
</td>

</body>
</html>