<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="ATM-app project">
    <meta name="author" content="DmMak">
    <title>ATM service simulation</title>
</head>

<body>

<h3>Admin menu</h3>

<a href="/addAccountToList">Add Account</a> <br>
<a href="/deleteAccount">Delete Account</a> <br>
<a href="/findUserByID">Find user by ID</a> <br>
<a href="/getAllAccounts">Show all accounts</a> <br>
<a href="/exit">Exit</a> <br>

</body>
</html>