<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="ATM-app project">
    <meta name="author" content="DmMak">
    <title>ATM service simulation</title>
</head>

<body>
<h3>Print Balance</h3>

<table>
    <tr>
        <td>User ID:</td>
    </tr>

    <tr>
        <form action="/printBalanceItem" th:object="${request}" method="get">
            <td><input type="text" th:field="${request.userIDtoGetBalance}"/></td>
            <td>
                <input type="submit" value="ID to find">
            </td>
        </form>
    </tr>

</table>
</body>
</html>