<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Tasks scheduler demo project">
    <meta name="author" content="JB, OK">
    <title>Tasks Scheduler</title>
</head>

<body>

<h3>Program menu</h3>

<a href="/showUsernamesRegistered">Show usernames registered in the system</a> <br>
<a href="/userLogin">User login</a> <br>
<a href="/userRegistration">User registration</a> <br>
<a href="/systemSettings">System settings</a> <br>
<a href="/exit">Exit</a> <br>

</body>

</html>