<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Tasks scheduler demo project">
    <meta name="author" content="JB, OK">
    <title>Tasks Scheduler</title>
</head>

<body>

<h3>Program menu</h3>

<a href="/addBookToList">Show usernames registered in the system</a> <br>
<a href="/showAllBooks">User Login</a> <br>
<a href="/deleteBookFromList">User registration</a> <br>
<a href="/searchBooks">System settings</a> <br>

</body>

</html>