<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Tasks scheduler demo project">
  <meta name="author" content="JB, OK">
  <title>Tasks Scheduler</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <script th:src="@{/js/scripts.js}"></script>
</head>

<body>
<header>
  <section id="header">
    <img th:src="@{/images/scheduler_1.png}" alt="schedulerImg" width="100px" height="100px" />
    <h1>Tasks Scheduler</h1>
    <h4 th:text="${greeting}" /></h4>
  </section>
  <section id="sub-header">
    <form action="/userMenu" method="get">
      <input class="btn" type="submit" value="Go to user menu" name="Submit" />
    </form>
  </section>
</header>

<main>
  <section id="msg-error">
    <td th:if="${errors != null}">
      <tr th:each="error : ${errors}">
        <td th:text="${error.field}" />
        <td> - </td>
        <td th:text="${error.message}" />
      </tr>
    </td>
  </section>
  <section id="msg-succeed">
    <tr><td th:text="${succeed} ? 'Successful update' : ''" /></tr>
  </section>


  <section>
    <h2>Show outstanding task</h2>
    <form id="taskQueryForm">
      <table>
        <tr>
          <td><input class="btn" type="submit" value="Show" onclick="showOutstandingTasks(event)"/></td>
        </tr>
      </table>
    </form>
    <h3>Result:</h3>
    <table id="tasksList">
      <tr>
        <th>Description</th>
        <th>Repeat</th>
        <th>Due date</th>
        <th>End date</th>
      </tr>
      <tbody id="tasksListTBodyShowOutstanding">
      <!-- JS will insert here task info -->
      </tbody>
    </table>
  </section>
</main>
</body>

</html>