<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Tasks scheduler demo project">
    <meta name="author" content="JB, OK">
    <title>Tasks Scheduler</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<header>
    <section id="header">
        <img th:src="@{/images/scheduler_1.png}" alt="schedulerImg" width="100px" height="100px" />
        <h1>Tasks Scheduler</h1>
    </section>
    <section id="sub-header">
        <form action="/" method="get">
            <input class="btn" type="submit" value="Go to main page" name="Submit" />
        </form>
    </section>
</header>

<main>
    <section id="msg-error">
        <td th:if="${errors != null}">
            <tr th:each="error : ${errors}">
                <td th:text="${error.field}" />
                <td> - </td>
                <td th:text="${error.message}" />
            </tr>
        </td>
    </section>

    <section id="form">
        <h3>Registered users</h3>

        <form action="/showUsers" th:object="${request}" method="post">
            <table>
                <tr>
                    <td>Username to filter by:</td>
                    <td><input type="text" th:field="${request.username}"/></td>
                </tr>
                <tr>
                    <td>Email to filter by:</td>
                    <td><input type="text" th:field="${request.email}"/></td>
                </tr>
                <tr>
                    <td style="display:none;"><input type="text" th:field="*{ordering.orderBy}"/></td>
                    <td style="display:none;"><input type="text" th:field="*{ordering.orderDirection}"/></td>
                </tr>
            </table>
            <br>

            <button class="btn" type="submit" name="page" th:value="1">Show</button>
            <input class="btn" type="reset" value="Clear"/>

            <table class="tbl-grid">
                <th>
                    <button class="btn-table-header" title="Click to change sorting direction" type="submit" name="orderBy" th:value="username">Username</button>
                </th>
                <th>
                    <button class="btn-table-header" title="Click to change sorting direction" type="submit" name="orderBy" th:value="email">Email</button>
                </th>
                <th>Send reminders</th>
                <th>Action</th>
                <td style="display:none;" th:if="${users != null}">
                    <tr th:each="user : ${users}">
                        <td style="display:none;" th:text="${user.id}" />
                        <td th:text="${user.username}" />
                        <td th:text="${user.email}" />
                        <td th:text="${user.sendReminders}" />
                        <td>
                            <button class="btn-table-delete" type="submit" name="deleteId" th:value="${user.id}">
                                Delete
                            </button>
                        </td>
                    </tr>
                </td>
            </table>

            <table class="tbl-grid-msg">
                <td th:if="${grid_msg != null}">
                    <tr><td th:text="${grid_msg}" /></tr>
                </td>
            </table>

            <div th:if = "${totalPages > 1}">
                Total Items: [[${totalItems}]] in [[${totalPages}]] pages &nbsp; | &nbsp; &nbsp;

                <button class="btn-pagination" th:disabled="${currentPage == 1}" type="submit"
                        name="page" th:value="1"><<</button>
                <button class="btn-pagination" th:disabled="${currentPage == 1}" type="submit"
                        name="page" th:value="previous"><</button>
                <td><input id="page-no-field" type="number" th:field="${request.paging.pageNumber}" min="1"/></td>
                <button class="btn-pagination" th:disabled="${currentPage == totalPages}" type="submit"
                        name="page" th:value="next">></button>
                <button class="btn-pagination" th:disabled="${currentPage == totalPages}" type="submit"
                        name="page" th:value="${totalPages}">>></button>
            </div>

        </form>
    </section>
</main>
</body>

</html>