<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Tasks scheduler demo project">
    <meta name="author" content="JB, OK">
    <title>Tasks Scheduler</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script th:src="@{/js/scripts.js}"></script>
</head>

<body>
<header>
    <section id="header">
        <img th:src="@{/images/scheduler_1.png}" alt="schedulerImg" width="100px" height="100px" />
        <h1>Tasks Scheduler</h1>
    </section>
    <section id="sub-header">
        <form action="/" method="get">
            <input class="btn" type="submit" value="Go to main page" name="Submit" />
        </form>
    </section>
</header>

<main>
    <section id="msg-error">
        <!-- JS will  place here errors -->
    </section>

    <section id="form">
        <h3>Registered usernames</h3>
        <form id="userQueryForm">
            <table>
                <tr>
                    <td><label for="username">Username to filter by:</label></td>
                    <td><input type="text" name="username" id="username" value="1"/></td>
                </tr>
                <tr>
                    <td><label for="orderDirection">Order direction:</label></td>
                    <td>
                        <select name="orderDirection" id="orderDirection">
                            <option value="ASCENDING"> ASCENDING </option>
                            <option value="DESCENDING"> DESCENDING </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="pageNumber">Show page number:</label></td>
                    <td><input type="number" name="pageNumber" id="pageNumber" min="0" value="0"/></td>
                </tr>
                <tr>
                    <td><label for="recordOnPage">Records on page:</label></td>
                    <td><input type="number" name="recordOnPage" id="recordOnPage" min="0" value="5"/></td>
                </tr>
            </table>
            <br/>
            <input class="btn" type="submit" value="Show" onclick="getUsersNames(event)"/>
            <input class="btn" type="reset" value="Clear"/>
        </form>
    </section>

    <section id="showUserNames" class="tbl-list">
        <h3>Result:</h3>
        <ol id="userNamesList">
            <!-- JS will insert here usernames -->
        </ol>
    </section>
</main>
</body>

</html>