<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Tasks scheduler demo project">
    <meta name="author" content="JB, OK">
    <title>Tasks Scheduler</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<header>
    <section id="header">
        <img th:src="@{/images/scheduler_1.png}" alt="schedulerImg" width="100px" height="100px" />
        <h1>Tasks Scheduler</h1>
        <h4><em>Welcome, System Administrator!</em></h4>
    </section>
    <section id="sub-header">
        <form action="/" method="get">
            <input class="btn" type="submit" value="Logout" name="Submit" />
        </form>
    </section>
</header>

<main>
    <section id="menu">
        <table class="tbl-buttons">
            <th>
                <h3>System Settings Menu</h3>
            </th>
            <tr>
                <td><a href="https://www.google.com/">
                    <button class="btn">Show all users information</button>
                </a></td>
            </tr>
            <tr>
                <td><a href="/settingsAmendment">
                    <button class="btn">Amend settings</button>
                </a></td>
            </tr>
            <tr>
                <td><a href="/runJobsManually">
                    <button class="btn">Run jobs manually</button>
                </a></td>
            </tr>
        </table>
    </section>
</main>
</body>

</html>