<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Tasks scheduler demo project">
    <meta name="author" content="JB, OK">
    <title>Tasks Scheduler</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<header>
    <section id="header">
        <img th:src="@{/images/scheduler_1.png}" alt="schedulerImg" width="100px" height="100px" />
        <h1>Tasks Scheduler</h1>
    </section>
</header>

<main>
    <section id="msg-error">
        <td th:if="${errors != null}">
            <tr th:each="error : ${errors}">
                <td th:text="${error.field}" />
                <td> - </td>
                <td th:text="${error.message}" />
            </tr>
        </td>
    </section>

    <section id="form">
        <h3>Current User Deletion</h3>

        <table>
            <tr><td th:text="${message}" /></tr>
        </table>

        <br>

        <table>
            <tr>
                <td th:if="${stage == 'confirmation'}">
                    <form class="form-confirm-button" action="/userDeletion" th:object="${request}" method="post">
                        <input class="btn" type="submit" value="Delete"/>
                    </form>
                    <form class="form-confirm-button" action="/userMenu" method="get">
                        <input class="btn" type="submit" value="Cancel"/>
                    </form>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td th:if="${stage == 'result'}">
                    <form action="/userLogin" method="get">
                        <input class="btn" type="submit" value="Ok"/>
                    </form>
                </td>
            </tr>
        </table>

    </section>
</main>
</body>

</html>