<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Tasks scheduler demo project">
    <meta name="author" content="JB, OK">
    <title>Tasks Scheduler</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<header>
    <section id="header">
        <img th:src="@{/images/scheduler_1.png}" alt="schedulerImg" width="100px" height="100px" />
        <h1>Tasks Scheduler</h1>
    </section>
</header>

<main>
    <section>
        <h3>User has been logged out</h3>
    </section>
</main>
</body>

</html>