<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="eBooking project">
    <meta name="author" content="JavaGuru">
    <title>Appointment eBooking</title>
</head>

<body>

<h3>Program menu</h3>

<a href="/addClient">Add client to list</a> <br>
<a href="/deleteClientFromTheList">Delete client from list</a> <br>
<a href="/registeredClientsList">Show all clients in the list</a> <br>
<a href="/clientSearch">Search clients</a> <br>
<a href="/addAppointment">Add appointment to the list</a> <br>
<a href="/deleteAppointment">Delete appointment from the list</a> <br>
<a href="/showAllAppointment">Show all appointments list</a> <br>
<a href="/searchForAppointment">Search for appointment</a> <br>

</body>

</html>
