<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Cooking book demo project">
    <meta name="author" content="JavaGuru">
    <title>Cooking book</title>
</head>

<body>

<h3>Add recipe to the list</h3>

<table>
    <tr>
        <td>Dish name:</td>
        <td>Author:</td>
    </tr>

    <tr>
        <form action="/addRecipe" th:object="${request}" method="post">
            <td><input type="text" th:field="${request.dishName}"/></td>
            <td>
                <input type="submit" value="Add Recipe"/>
                <input type="reset" value="Clear"/>
            </td>
        </form>
    </tr>
</table>

<td th:if="${errors != null}">
    <tr th:each="error : ${errors}">
        <td th:text="${error.field}"/>
        <td th:text="${error.message}"/>
    </tr>
</td>

</body>

</html>