<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Cooking book demo project">
    <meta name="author" content="JavaGuru">
    <title>Cooking book</title>
    <script>
        function addIngredient() {
        }
    </script>
</head>

<body>

<h2>Add your recipe to the book!</h2>

<form action="/addRecipe" method="post" th:object="${dto}">
    <h3>Name of your recipe</h3>
    <input type="text" th:field="${dto.dishName}"  autofocus><br><br>

    <h3>Required ingredients</h3>
    <div th:each="ingr, ingrStat : *{ingredients}">

        <label for="ingr">Ingredients:</label>
        <input type="text" id="ingr" name="ingr" th:field="*{ingredients[__${ingrStat.index}__].name}" >

        <label for="amount">amount:</label>
        <input type="number" id="amount" name="amount" th:field="*{ingredients[__${ingrStat.index}__].amount}" min="0" max="10000" >

        <select id="measurement" name="measurement" th:field="*{ingredients[__${ingrStat.index}__].measurement}">
            <option value="ml">ml</option>
            <option value="L">L</option>
            <option value="mg">mg</option>
            <option value="g">g</option>
            <option value="kg">kg</option>
            <option value="tbsp">tbsp</option>
            <option value=""></option>
        </select>

        <button type="button" onclick="addIngredient()">Add ingredient</button>
    </div><br>
    <div th:each="cookStep, cookStepStat : *{cookingSteps}">
        <p><label for="cookStep">Cooking step:</label></p>
        <textarea id="cookStep" name="cookStep" rows="5" cols="40" th:field="*{cookingSteps[__${cookStepStat.index}__].stepDescription}"></textarea><br><br>
    </div>
    <input type="submit" value="Add Recipe"/>
    <input type="reset" value="Clear"/>
</form>
<br>
<div th:if="${errors != null}">
    <p th:each="error : ${errors}">
        <td th:text="${error.field}"/>
        <td th:text="${error.message}"/>
    </p>
</div>

</body>

</html>