<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Cooking book demo project">
    <meta name="author" content="JavaGuru">
    <title>Cooking book</title>
    <style>
        p, h3 {
        text-align: center;
        }
    </style>
</head>

<body>

<h3>Program menu</h3>

<p><a href="/addRecipe">Add recipe to the list</a></p>
<p><a href="/deleteRecipe">Delete recipe from the list</a></p>
<p><a href="/showAllRecipes">Show all recipes in the list</a></p>
<p><a href="/searchRecipes">Search recipes</a></p>

</body>

</html>