<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Cooking book demo project">
    <meta name="author" content="JavaGuru">
    <title>Cooking book</title>
</head>

<body>

<h3 style="text-align:center">Program menu</h3>

<p style="text-align:center"><a href="/addRecipe" >Add recipe to the list</a></p>
<p style="text-align:center"><a href="/deleteRecipe" style="text-align:center">Delete recipe from the list</a></p>
<p style="text-align:center"><a href="/showAllRecipes" style="text-align:center">Show all recipes in the list</a></p>
<p style="text-align:center"><a href="/searchRecipes" style="text-align:center">Search recipes</a></p>

</body>

</html>